<template>
  <div>
    <header class="translateHeader" style="height: 70px">
      <div class="headerLeft">
        <img src="/static/img/logo.png" class="logo"/>
      </div>

      <div class="headerRight">
        <el-dropdown trigger="click" @command="handleCommand">
        <span class="el-dropdown-link">
          <img :src="'/static/img/defaultAvatar.jpeg'"/>
        </span>
          <el-dropdown-menu
            slot="dropdown"
            class="user-infor-handle"
          >
            <el-dropdown-item command="userCenter"><i class="system-icon icon-35"></i>我的主页</el-dropdown-item>
            <el-dropdown-item command="personalExpenses"><i class="system-icon icon-6"></i>个人费用</el-dropdown-item>
            <el-dropdown-item command="accountSetting"><i class="system-icon icon-25"></i>账号设置</el-dropdown-item>
            <el-dropdown-item command="myTeam"><i class="system-icon icon-22"></i>我的团队</el-dropdown-item>
            <el-dropdown-item command="contactCustomerService"><i class="system-icon icon-13"></i>联系客服</el-dropdown-item>
            <el-dropdown-item command="logout"><i class="system-icon icon-20"></i>退出</el-dropdown-item>

          </el-dropdown-menu>
        </el-dropdown>
      </div>
    </header>

  </div>
</template>

<script>
import * as types from '@/store/mutation-types'

export default {
  name: 'Header',
  data: function () {
    return {
    }
  },
  watch: {
  },
  mounted () {
  },
  methods: {
    handleCommand (command) {
    },
  },
  components: {
  }
}
</script>

<style lang="scss">
  .user-infor-handle li{
    text-align: left;
  }
  .translateHeader {
    height: 70px;
    line-height: 70px;
    /*background-color: #2051CA;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow:0px 2px 6px 0px rgba(0,0,0,0.05);
    .logo {
      width: 180px;
      height: 27px;
      vertical-align: middle;
    }
    .headerLeft,
    .headerRight {
      line-height: 70px;
      font-size: 18px;
      label {
        cursor: pointer;
      }
      span {
        cursor: pointer;
      }

    }
    .headerLeft {
      font-size: 24px;
      font-weight: bold;
      padding-left: 35px;
      /*cursor: pointer;*/
      img {
        cursor: pointer;
      }
      .gotoRegister {
        font-size: 16px;
        a {
          color: white;
          text-decoration: underline;
        }
      }
    }
    .headerRight {
      font-size: 14px;
      padding-right: 35px;
      vertical-align: middle;
      /*a {*/
      /*  color: white;*/
      /*}*/

      .el-dropdown-link img {
        border-radius: 50%;
        width: 32px;
        height: 32px;
        margin-left: 20px;
        vertical-align: middle;
      }
    }
  }

  .noviceGuideContainer {
    .el-dialog {
      margin-top: 10vh !important;
    }
    .el-dialog__header {
      padding: 0;
    }
    .el-dialog__headerbtn {
      z-index: 3000;
      .el-icon-close {
        /*color: white;*/
        cursor: pointer;
      }
    }
    .el-dialog__body {
      padding: 0;
    }
  }

  .fullscreen {
    background-color: #F5F5F7;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  .el-header {
    padding: 0;
  }
</style>
