<template>
  <el-aside style="overflow: visible;width: 80px;position: relative;">

    <div class="tagMenu">
      <ul>
        <li class="tagWrapper" @click="setActiveTag(activeTagConstant.MyProject)"
            :class="{activeListItem:pageActiveTagInfo.pageActiveTag===activeTagConstant.MyProject}"><i
          class="system-icon icon--2"></i><span>我的项目</span>
        </li>
        <li class="tagWrapper" @click="setActiveTag(activeTagConstant.FinishedProject)"
            :class="{activeListItem:pageActiveTagInfo.pageActiveTag===activeTagConstant.FinishedProject}"><i
          class="system-icon icon--1"></i><span>已归档项目</span>
        </li>
        <li class="tagWrapper" @click="setActiveTag(activeTagConstant.CooperateDoc)"
            :class="{activeListItem:pageActiveTagInfo.pageActiveTag===activeTagConstant.CooperateDoc}"><i
          class="system-icon icon--21"></i><span>协作文档</span></li>
        <!--<router-link :to="{name: '我的记忆库' }">-->
        <li class="tagWrapper" @click="jumpToMemoryLibrary"
            :class="{activeListItem:pageActiveTagInfo.pageActiveTag===activeTagConstant.MyMemoryLibrary}"><i
          class="system-icon icon-10"></i><span>我的记忆库</span></li>
        <!--</router-link>-->
        <li class="tagWrapper"
            @click="setActiveTag(activeTagConstant.UserManage)"
            :class="{activeListItem:pageActiveTagInfo.pageActiveTag===activeTagConstant.UserManage}">
          <i class="system-icon icon-22"></i><span>用户管理</span>
        </li>
      </ul>
    </div>

    <transition name="drawer_slide-fade">
      <!--弹出抽屉内容-->
      <div class="drawerContent" v-if="activeTag!==''">
        <!--我的项目抽屉弹出框-->
        <div data-drawer-id="myProject" class="commonDrawerContentContainer"
             v-if="activeTag===activeTagConstant.MyProject">
          <!--<div class="drawerContentHeader">项目</div>-->
          <div class="drawerContentBody">
            <div style="margin-bottom: 15px;"><i class="point"></i>我的项目</div>

            <div class="listItem" v-for="item in ongoingProjects" :key="item.id" @click="jumpToProject(item)"
                 :class="{activeListItem:(pageActiveTagInfo.pageActiveTag===activeTagConstant.MyProject&&pageActiveTagInfo.id===item.id)}"
                 :title="item.name">{{item.name}}
              <!--<span class="delSpan"><i class="iconfont el-icon-close  closeIcon"-->
              <!--@click.stop="deleteProjectFunc(item)"></i></span>-->
            </div>

            <div class="flexRowCenter">
              <div class="bigButton" style="width: 80%;margin-top:15px;" @click.stop="newProjectFunc">
                <i class="el-icon-plus"></i>新建项目
              </div>
            </div>
          </div>
        </div>
        <!--已归档项目抽屉弹出框-->
        <div data-drawer-id="myProject" class="commonDrawerContentContainer"
             v-if="activeTag===activeTagConstant.FinishedProject">
          <div class="drawerContentBody">
            <div style="margin-bottom: 15px;"><i class="point"></i>已归档项目</div>

            <div class="listItem" v-for="item in finishedProjects" :key="item.id" @click="jumpToProject(item)"
                 :class="{activeListItem:(pageActiveTagInfo.pageActiveTag===activeTagConstant.FinishedProject&&pageActiveTagInfo.id===item.id)}"
                 :title="item.name">{{item.name}}
              <!--<span class="delSpan"><i class="iconfont el-icon-close  closeIcon"-->
              <!--@click.stop="deleteProjectFunc(item)"></i></span>-->
            </div>
          </div>
        </div>
        <!--协作文档项目抽屉弹出框-->
        <div data-drawer-id="myProject" class="commonDrawerContentContainer"
             v-if="activeTag===activeTagConstant.CooperateDoc">
          <!--<div class="drawerContentHeader">协作</div>-->
          <div class="drawerContentBody">
            <div style="margin-bottom: 15px;"><i class="point"></i>协作文档</div>

            <div class="listItem" v-for="item in shareProjects" :key="item.id" @click="jumpToShareProject(item)"
                 :class="{activeListItem:(pageActiveTagInfo.pageActiveTag===activeTagConstant.CooperateDoc&&pageActiveTagInfo.id===item.id)}"
                 :title="item.name">{{item.name}}
            </div>

          </div>
        </div>

        <!--用户管理抽屉弹出框-->
        <div data-drawer-id="myProject" class="commonDrawerContentContainer"
             v-if="activeTag===activeTagConstant.UserManage">
          <!--<div class="drawerContentHeader">用户管理</div>-->
          <div class="drawerContentBody">
            <div style="margin-bottom: 15px;"><i class="point"></i>用户管理</div>
            <!--<router-link :to="{name: '用户管理' }">-->
            <div class="listItem" @click="jumpToUserManage(1)"
                 :class="{activeListItem:(pageActiveTagInfo.pageActiveTag===activeTagConstant.UserManage&&pageActiveTagInfo.id===1)}">
              用户管理
            </div>
            <!--</router-link>-->
            <!--<router-link :to="{name: '翻译引擎切换' }">-->
            <div class="listItem" @click="jumpToUserManage(2)"
                 :class="{activeListItem:(pageActiveTagInfo.pageActiveTag===activeTagConstant.UserManage&&pageActiveTagInfo.id===2)}">
              翻译引擎切换
            </div>
            <!--</router-link>-->
          </div>
        </div>


      </div>
    </transition>
    <!--弹出抽屉遮罩-->
    <div class="drawerMask" v-if="activeTag!==''" @click="activeTag=''">

    </div>
  </el-aside>
</template>
<style lang="scss">
  .el-aside {
    &::-webkit-scrollbar {
      width: 6px;
    }
    &::-webkit-scrollbar-thumb {
      background: #E9EFF7;
      width: 6px;
      border-radius: 3px;
    }
    &::-webkit-scrollbar-track {
      background: #2051CA;
    }
    /*border-top: 1px solid #ffffff;*/
    .tagMenu {
      font-size: 14px;
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 99;
      background-color: #3759CB;
      .tagWrapper {
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        padding: 13px 5px;
        /*margin-bottom: 15px;*/
        i {
          font-size: 20px;
          width: 28px;
          height: 28px;
          text-align: center;
        }
        span {
          margin-top: 4px;
          font-size: 12px;
          line-height: 17px;
          color: #C3CDEF;
        }
      }
      .tagWrapper:hover {
        background-color: #5971C2;
        span {
          color: white;
        }
      }
    }

    .drawer_slide-fade-enter-active {
      transition: all .3s ease;
      /*transition: all .2s cubic-bezier(1.0, 0.5, 0.8, 1.0);*/

    }
    .drawer_slide-fade-leave-active {
      transform: translateX(-200px);
      opacity: 0;
      /*transition: all .2s cubic-bezier(1.0, 0.5, 0.8, 1.0);*/
      transition: all .3s ease;
    }
    .drawer_slide-fade-enter, .slide-fade-leave-to
      /* .slide-fade-leave-active for below version 2.1.8 */
    {
      transform: translateX(-200px);
      opacity: 0;
    }
    .activeListItem {
      background-color: #294399;
    }
    .drawerContent {
      background-color: #304EB3;
      /*color: #C0DEFF;*/
      color: white;
      /*width: 100px;*/
      height: 100%;
      position: absolute;
      left: 80px;
      top: 0;
      z-index: 98;
      .commonDrawerContentContainer {
        width: 165px;
        padding: 20px;
        .drawerContentHeader {
          font-size: 20px;
          margin-bottom: 40px;
        }
        .drawerContentBody {
          display: flex;
          flex-direction: column;
          font-size: 14px;
          .listItem {
            color: white;
            cursor: pointer;
            padding: 12px 8px;
            border-radius: 5px;
            position: relative;
            .delSpan {
              display: none;
            }
          }
          .listItem:hover {
            background-color: #5971C2;
            .delSpan {
              display: inline-block;
              position: absolute;
              top: 5px;
              right: 5px;
            }
          }
          .point {
            margin-right: 8px;
          }

        }
        .bigButton {
          text-align: center;
          /*color: #C0DEFF;*/
          color: white;
          cursor: pointer;
          padding-top: 10px;
          padding-bottom: 10px;
          border: 1px solid #C0DEFF;
          border-radius: 5px;
          i {
            margin-right: 10px;
          }
        }
      }
    }

    .drawerMask {
      position: fixed;
      /*top: 60px;*/
      /*left: 275px;*/
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: transparent;
      /*background-color: red;*/
      z-index: 97;
    }

  }

  .flexRowCenter {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .point {
    display: inline-block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: white;
    vertical-align: middle;
  }

</style>

<script>

const ActiveTagConstant = {
  MyProject: 'myProject',
  FinishedProject: 'finishedProject',
  CooperateDoc: 'cooperateDoc',
  MyMemoryLibrary: 'myMemoryLibrary',
  UserManage: 'userManage',
  SimpleTranslation: 'simpleTranslation',
  HumanTranslation: 'humanTranslation'
}
const MenuType = {
  LevelOne: 'levelOne',
  LevelTwo: 'levelTwo'
}

export default {
  name: 'Left',
  props: [],
  data () {
    return {
      allProjects: [],
      shareProjects: [],
      showNewProjectBtn: false,
      activeTagModel: ['1', '2', '3', '4', '5', '6', '7', '9', '10'],
      activeTag: '',
      activeTagConstant: ActiveTagConstant,
      firstProjectActive: false,
      pageActiveTagInfo: {pageActiveTag: '', id: -99999}
    }
  },
  beforeCreate () {
    // 如果未登录跳往登录界面
    // if (!this.$store.state.userSystem.isLogin) {
    //   this.$router.push({
    //     path: '/login'
    //   })
    // }
  },
  computed: {
    // 进行中项目
    ongoingProjects: function () {
      return this.allProjects.filter(item => !item.finished)
    },
    // 已完结项目
    finishedProjects: function () {
      return this.allProjects.filter(item => item.finished)
    }
  },
  mounted () {
    this.initActiveTagInfo()
    this.getMyProjectFuc()
    this.getMyShareDocProjectFunc()
  },
  methods: {
    /**
     * 设置处于active的第一次菜单
     */
    setActiveTag: function (activeTag) {
      if (activeTag !== this.pageActiveTagInfo.pageActiveTag && activeTag !== '') {
        this.pageActiveTagInfo.pageActiveTag = activeTag
      }
      if (this.activeTag !== activeTag) {
        this.activeTag = activeTag
      } else {
        this.hideDrawer()
      }
    },
    // 隐藏抽屉
    hideDrawer: function () {
      this.activeTag = ''
    },
    initActiveTagInfo: function () {
    },
    /**
     * 获取所有我的项目
     */
    getMyProjectFuc: function (completeCallBack) {
    },
    getMyShareDocProjectFunc: function (completeCallBack) {
    },
    expandFinishedProject: function () {
    },
    // 更新某个项目的名字
    updateProjectName: function (id, name) {
    },
    // 更新某个项目的完结状态
    updateProjectFinishStatus: function (id, finishStatus) {
    },
    // 逻辑删除项目按钮click事件响应方法
    deleteProjectFunc: function (item) {
    },
    newProjectFunc: function () {
    },
    /**
     * 跳转到首页，project
     */
    jumpToProject: function (project) {
    },
    jumpToShareProject: function (project) {
    },
    jumpToUserManage: function (id) {
    },
    // 跳到uranus充值界面
    jumpToRecharge: function () {
    },
    jumpToAmountDetail: function () {
    },
    // 跳到消费清单界面
    jumpToCostList: function () {
    },
    // 跳到充值记录界面
    jumpToRechargeList: function () {
    },
    // 跳到我的记忆库界面
    jumpToMemoryLibrary: function () {
    },
  },
  components: {
  }
}
</script>
